main {
    display: flex;
    flex-flow: row wrap;
}


.containerCardStudent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 20px;
}


.cardStudent {
    width: 350px;
    height: 150px;
    background: rgb(45, 101, 148);
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}


.data {
    font-family: 'osvaldo', 'fira-code';
    font-size: large;
    color: black;
    display: flex;
    gap: 15px;
}


.containerBtnStudent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
}


.containerIconStudent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}