body {
    background-color: rgb(94, 143, 184);
}


.description {
    width: 50%;
    height: 40%;
    padding: 30px;
    margin-top: 100px;
    background-color: rgb(45, 101, 148);
    color: aliceblue;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 120px;
}


img {
    border-radius: 110px;
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
}


.containerImg {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    font-size: 16px;
}


.containerImg img {
    width: 200px;
}




@media (max-width: 450px) {
    .description {
        width: 90%;
    }
}