.header{
    width: 100%;
    height: 75px;
    background-color: rgb(138, 199, 248);
    color: rgb(17, 11, 11);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

span{
    font-size: 1.5rem;
    font-weight: bold;
}

nav{
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
}

span{
    text-decoration: none;
    color: black;
    padding: 1rem;
}

span:hover{
    color: white;
}

.header a{
    text-decoration: none;
    color: #0e0404;
    padding: 1rem; 
    font-size: medium;
}

.header a:hover{
    color: rgb(71, 156, 212);
}


.buttonHeader {
    background-color:rgb(138, 199, 248);
    padding: 14px 40px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #4c69c9;
    box-shadow: rgba(13, 13, 80, 0.25) 0px 2px 5px -1px, rgba(170, 149, 149, 0.3) 0px 1px 3px -1px;
    transition: .4s;
   }
   
   .buttonHeader span:last-child {
    display: none;
   }
   
   .buttonHeader:hover {
    transition: .4s;
    border: 2px dashed #4f96b3;
    background-color: #fff;
   }
   
   .buttonHeader:active {
    background-color: #446b9e;
   }
   
   