:root {
  font-family: 'Fira Code', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  
}

.button {
  color: #fff;
  cursor: pointer;
  border: 1px solid #c5d8bc;
  border-radius: 6px;
  padding: 0.8em 2em;
  background: rgb(45, 101, 148);
  transition: 0.2s;
}

.button:hover {
  transform: translate(-0.25rem, -0.25rem);
  background: rgb(42, 101, 150);
  box-shadow: 0.25rem 0.25rem white;
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}
